page{
    width: 100%;
    height: 100%;
}
.vertical-center{
    display: flex;
    align-items: center;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.col{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
